
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

    display: flex;
    flex-direction: column;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


address{
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

button {
    cursor: pointer;
}

.main{
    flex-grow: 1;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }
  
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 156px;
    margin: 0 auto;
  }
  
/* #endregion */

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo-icon{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.section-title-accent{
    color: #2E2F42;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    /* margin-left: 147px; */
}
.nav-item {
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    display: block;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}
.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}


/* #endregion */


/* #region Hero */
.hero{
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-container{
    text-align: center;
    
}

.hero-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-accent {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: transparent;
    color: #FFFFFF;
    background: var(--iris, #4D5AE5);

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    border: transparent;
    border-radius: 4px;
    
}

.btn-accent:hover,
.btn-accent:focus {
    color: #FFFFFF;
    background: #404BBF;
}
/* #endregion */

/* #region Title */
.title{
    padding: 120px 0;
}

.title-list {
    display: flex;
    gap: 24px;

    margin-top: 8px;
}

.title-item {
    width: 264px;
}

.title-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.title-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
    text-align: center;
    color : #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    margin-bottom: 0;
}

.team-content{
    padding: 32px 0;
}

.team-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
    text-align: center;
}

.team-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio{
    background-color: #FFFFFF;
    padding: 120px 0;
}

.portfolio-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-item {
    border: 1px solid #E7E9FC;
    width: calc((100% - 2 * 24px) / 3);
    box-sizing: border-box;
}
.portfolio-img {
    width: 100%;
    height: auto;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  

.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
/* #endregion */

/* #region Footer */
.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-icon-footer{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 16px;
    
}

.section-title-accent-footer{
    color: #F4F4FD;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    max-width: 264px;
}
/* #endregion */